@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.comfortaa-regular {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
}

.comfortaa-bold {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
}


.sansita-regular {
  font-family: "Sansita", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansita-bold {
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansita-extrabold {
  font-family: "Sansita", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sansita-black {
  font-family: "Sansita", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.sansita-regular-italic {
  font-family: "Sansita", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansita-bold-italic {
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.sansita-extrabold-italic {
  font-family: "Sansita", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.sansita-black-italic {
  font-family: "Sansita", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.leckerli-one-regular {
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-style: normal;
}

.lilex {
  font-family: "Lilex", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* ---------------- SCAN ANIMATION ---------------- */

.scan-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(34, 197, 94, 0.8),
    transparent
  );
  animation: scan 2s infinite ease-in-out;
}

@keyframes scan {
  0% {
    top: 0%;
  }
  50% {
    top: 90%;
  }
  100% {
    top: 0%;
  }
}


@keyframes reveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.animate-reveal {
  animation: reveal 2.5s steps(28, end) forwards;
  animation-delay: 0s;
}

.edu-nsw-act-cursive-head {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
